<!doctype html>
<html lang="en">
<head>
  <title>hello world</title>
  <script src="/static/htmx.min.js"></script>
  <script src="/static/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="navbar navbar-expand-lg bd-navbar sticky-top">

<nav class="py-2 bg-body-tertiary border-bottom"> <div class="container d-flex flex-wrap"> <ul class="nav me-auto"> <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li> <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Features</a></li> <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Pricing</a></li> <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">FAQs</a></li> <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">About</a></li> </ul> <ul class="nav"> <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Login</a></li> <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Sign up</a></li> </ul> </div> </nav>

</header>


<main class="bd-content order-1 py-5" id="content">
  {{$body}}Empty body{{/body}}
</main>

<footer>

</footer>
</body>
</html>
